h2 {
    flex-grow: 0;
    margin-bottom: 10px;
    color: #333;
}

.radio-label {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
}

.radio-label input {
    margin-right: 10px;
    margin-left: 10px;
}

.score-input {
    width: 80%;
    margin: 0 auto;
    display: block;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    text-align: center;
}

.error-message {
    color: #fff;
    height: 25px;
    padding-top: 0px;
    text-align: center; /* Centre le message d'erreur */
    margin-top: 8px;
    display: block;
    font-size: 14px !important;
}

.red-error-message {
    color: red;
}

.result-input-modal .ant-modal-header,
.result-input-modal .ant-modal-body,
.result-input-modal .ant-modal-footer {
    text-align: center; /* Centre le titre */
}