.tooltip-club-content,
.tooltip-phone-content,
.tooltip-mail-content {
    display: flex;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 200px;
}

.tooltip-icon {
    margin-right: 5px;
}